<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
  	<pluginGroup>org.mortbay.jetty</pluginGroup>
  </pluginGroups>
  <proxies>
    <proxy>
      <id>Tencent Office Proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>127.0.0.1</host>
      <port>12639</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost,127.0.0.1</nonProxyHosts>
  </proxy>
  <!--<proxy>
      <id>Tencent Office Proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.tencent.com</host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost,127.0.0.1</nonProxyHosts>
  </proxy>-->
  </proxies>
  <mirrors>
	<mirror>
      <id>oa</id>
      <mirrorOf>*</mirrorOf>
      <name>oa wod repositories</name>
      <url>http://maven.oa.com/nexus/content/groups/wod/</url>
    </mirror>
	<!--<mirror>
      <id>internal</id>
      <mirrorOf>*</mirrorOf>
      <name>internal repository</name>
      <url>http://maven.oa.com/nexus/content/groups/public/</url>
  </mirror>-->
  <!--<mirror>
      <id>repo2</id>
      <mirrorOf>central</mirrorOf>
      <name>Human Readable Name for this Mirror.</name>
      <url>http://repo2.maven.org/maven2/</url>
  </mirror>-->
  </mirrors>
  
  <servers>
  	<server>
  		<id>internal.releases</id>
  		<username>rdm</username>
  		<password>rdm</password>
  	</server>
  	<server>
  		<id>internal.snapshots</id>
  		<username>rdm</username>
  		<password>rdm</password>
  	</server>
    <server>
      <id>ossrh</id>
      <username>wangfengxy</username>
      <password><![CDATA[WangFeng!&@&]]></password>  
    </server>
  </servers>
  
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg2</gpg.executable>
        <gpg.passphrase>wangfeng1727</gpg.passphrase>
      </properties>
    </profile>
    </profiles>
</settings>
